@charset "UTF-8";
/* CSS for whole page */
.canvas {
	max-height: 100%;
	overflow: hidden;
	background-image: url(/resources/custom/img/main.jpg);
}

/* CSS for WebGL earth and markers */
#earth {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.we-pm-icon {
	border-radius: 50%;
}

.we-pp-wrapper {
	text-align: center !important;
}

.we-pp-content>img {
	width: 180px;
	height: 180px;
}

/* CSS for Bootstrap carousel */
.carousel {
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-150px, -50%);
}

.carousel-inner>.item>img {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	height: 300px;
	min-height: 300px;
	max-height: 300px;
}

/* CSS for custom window */
#search-result {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	right: 15%;
	transform: translate(150px, -50%);
	background-color: white;
	opacity: 0.9;
	display: none;
}

.result-inner>div>img {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	height: 300px;
	min-height: 300px;
	max-height: 300px;
}

.result-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgb(0 0 0/ 60%);
}

@media screen and (min-width: 768px) {
	.result-caption {
		right: 20%;
		left: 20%;
		padding-bottom: 30px;
	}
}