@charset "UTF-8";

.nav.navmenu-nav>li>a {
	color: #337ab7;
	background-color: #e0f0ff
}

.nav.navmenu-nav>li>a:hover {
	color: #337ab7;
	background-color: #ffffff;
}

/*
.preloader-1 {
	position: absolute;
	top: 300px;
	left: 50%;
	margin: 0 auto;
	margin-left: -67px;
	z-index: 100;
}

div#loader {
	color: #fff;
	margin: 5px 0;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	letter-spacing: 2px;
	width: 100%;
}

.preloader-1 .line {
	width: 3px;
	height: 30px;
	background: #337ab7;
	margin: 0 3px;
	display: inline-block;
	animation: opacity 1000ms infinite ease-in-out;
}

.preloader-1 .line-0 { animation-delay: 1000ms; }
.preloader-1 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9 { animation-delay: 800ms; }
.preloader-1 .line-10 { animation-delay: 1000ms; }

@keyframes opacity { 
	0% {
		opacity: 1;
		height: 30px;
	}
	50% {
		opacity: 0;
		height: 24px;
	}
	100% { 
		opacity: 1;
		height: 30px;
	}  
} */