<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.ictmd.Interface.MiscDAO">

	<select id="getMarkerList" resultType="landmark">
		select
			country,
			landmark,
			latitude,
			longitude,
			img_url as imgUrl
		from
			earth_marker_tb
		order by
			country asc
	</select>

</mapper>