<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesoc.ictmd.Interface.ModelDetailDAO">
	<select id="getModel" resultType="modelDetail">
		SELECT
			  maker
			, model
		FROM
			modelDetail
	</select>
	<select id="searchModelDetail" parameterType="hashmap" resultType="modelDetail">
		select
			maker,
			model,
			imgUrl,
			type,
			pixel,
			cmos,
			sensor,
			imageProcessor,
			screen,
			viewFinder,
			maxISO,
			shutterSpeed,
			continuousShooting,
			af,
			focusArea,
			flash,
			videoQuality,
			volume,
			weight,
			etc
		from 
			modelDetail
		where
			UPPER(REPLACE(model, ' ', '')) IN
		 	<foreach item="item" collection="tags" index="index" open="(" separator="," close=")">
		 		 UPPER(REPLACE(#{item}, ' ', ''))
		 	</foreach>
		 	OR UPPER(REPLACE(maker||model, ' ', '')) IN
		 	<foreach item="item" collection="tags" index="index" open="(" separator="," close=")">
		 		 UPPER(REPLACE(#{item}, ' ', ''))
		 	</foreach>
	</select>
	
	<select id="allModelDetail" resultType="modelDetail">
		select
			maker,
			model,
			type
		from
			modeldetail
	</select>
	
	<select id="selectInfo" parameterType="String" resultType="modelDetail">
		select
			*
		from
			modeldetail
		where 
			model = #{value}
	</select>
	
	<delete id="deleteDetail" parameterType="String">
		delete from modeldetail
		where model = #{value}
	</delete>
	
	<update id="updateDetail" parameterType="modelDetail">
		update 
			modelDetail 
		set 
			maker = #{maker},
			imgUrl = #{imgUrl},
			type = #{type},
			pixel = #{pixel},
			cmos = #{cmos},
			sensor = #{sensor},
			imageProcessor = #{imageProcessor},
			screen = #{screen},
			viewFinder = #{viewFinder},
			maxISO = #{maxISO},
			shutterSpeed = #{shutterSpeed},
			continuousShooting = #{continuousShooting},
			af = #{af},
			focusArea = #{focusArea},
			flash = #{flash},
			videoQuality = #{videoQuality},
			volume = #{volume},
			weight = #{weight},
			etc = #{etc}
		where 
			model = #{model}
	</update>
	
	<insert id="insertDetail" parameterType="modelDetail">
		insert into modeldetail (
			maker,
			model,
			imgUrl,
			type,
			pixel,
			cmos,
			sensor,
			imageProcessor,
			screen,
			viewFinder,
			maxISO,
			shutterSpeed,
			continuousShooting,
			af,
			focusArea,
			flash,
			videoQuality,
			volume,
			weight,
			etc
		) values (
			#{maker},
			#{model},
			#{imgUrl},
			#{type},
			#{pixel},
			#{cmos},
			#{sensor},
			#{imageProcessor},
			#{screen},
			#{viewFinder},
			#{maxISO},
			#{shutterSpeed},
			#{continuousShooting},
			#{af},
			#{focusArea},
			#{flash},
			#{videoQuality},
			#{volume},
			#{weight},
			#{etc}
		)
	</insert>
	
</mapper>