<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.ictmd.Interface.UserDAO">
	
	<insert id="insertUserBase" parameterType="userBase">
		insert into user_basic (
			user_id,
			user_pw,
			user_nm
		) values (
			#{userId},
			#{userPwd},
			#{userName}
		)
	</insert>
	
	<insert id="insertUserDetail" parameterType="userDetail">
		insert into user_detail(
			user_id
			<if test="birth != null">
				, birth
			</if>
			<if test="model != null">
				, model
			</if>
			<if test="favorite != null">
				, favorite
			</if>
		) values (
			#{userId}
			<if test="birth != null">
				, #{birth}
			</if>
			<if test="model != null">
				, #{model}
			</if>
			<if test="favorite != null">
				, #{favorite}
			</if>
		)
	</insert>
	
	<select id="checkUser" parameterType="userBase" resultType="userBase">
		select
			user_id,
			user_nm
		from
			user_basic
		where
			user_id like #{userId}
			and
			user_pw like #{userPwd}
	</select>
	
	<select id="checkEmail" parameterType="userBase" resultType="userBase">
		select
			user_id
		from
			user_basic
		where
			user_id like #{userId}
	</select>
	
	<update id="fixUserBase" parameterType="userBase">
		update user_basic
		set user_id = #{userId}
		<if test="userPwd != null">
			, user_pw = #{userPwd}
		</if> 
		<if test="userName != null">
			, user_nm = #{userName}
		</if>
		where user_id like #{userId}
	</update>
	
	<update id="fixUserDetail" parameterType="userDetail">
		update user_detail
		set user_id = #{userId}
		<if test="birth != null">
			, birth=#{birth}
		</if> 
		<if test="favorite != null">
			, favorite=#{favorite}
		</if>
		<if test="model != null">
			, model=#{model}
		</if>
		where user_id = #{userId}
	</update>
	
	<delete id="secesionUser" parameterType="userBase">
		delete from
			user_basic
		where
			user_id like #{userId}
	</delete>
</mapper>

