<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesoc.ictmd.vo.UserBase" alias="userBase"/>
		<typeAlias type="com.sesoc.ictmd.vo.UserDetail" alias="userDetail"/>
		<typeAlias type="com.sesoc.ictmd.vo.ModelBase" alias="modelBase"/>
		<typeAlias type="com.sesoc.ictmd.vo.ModelDetail" alias="modelDetail"/>
		<typeAlias type="com.sesoc.ictmd.vo.BasicAnalysisData" alias="BAD"/>
		<typeAlias type="com.sesoc.ictmd.vo.BasicTrendData" alias="BasicTrendData"/>
		<typeAlias type="com.sesoc.ictmd.vo.HistoryVO" alias="History"/>
		<typeAlias type="com.sesoc.ictmd.vo.ComplexAnalysisData" alias="CAD"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/UserMapper.xml"/>
		<mapper resource="mappers/ModelBaseMapper.xml"/>
		<mapper resource="mappers/ModelDetailMapper.xml"/>
		<mapper resource="mappers/analysisMapper.xml"/>
		<mapper resource="mappers/TrendMapper.xml"/>
	</mappers>
</configuration>